.sidebarSettings {
    position: absolute;
    left: calc(-1 * var(--aside-width));
    top: 0;
    width: var(--aside-width);
    height: 100%;
    border-right: var(--border-size) var(--border-color);
    background: var(--bg);
    z-index: 50;
    transition: var(--transition);
}

.activeSettings {
    left: 0 !important;
}

.rotateArrowSettings {
    transform: rotate(180deg) !important;
}

.headerSidebarSettings {
    width: 100%;
    padding-block: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.headerSidebarSettings .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.headerSidebarSettings .title h3 {
    font-size: var(--fs-h6);
    font-weight: var(--fw-medium);
    color: var(--text-primary);
}

.hr {
    width: 100%;
    height: 1px;
    background: var(--border-color);
}

.arrowToggleSettings {
    width: 25px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    position: absolute;
    left: var(--aside-width);
    top: 50%;
    transform: translateY(-50%);
    background: var(--color-primary);
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.arrowToggleSettings .icon {
    color: var(--text-primary);
    width: 18px;
}

.menuSettings {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuSettings .menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu .module {
    width: 100%;
}

.menu .module .headerModule {
    width: 100%;
    background: var(--bg-hover);
    padding: 10px;
    border-bottom: var(--border-size) var(--border-color);
    border-top: var(--border-size) var(--border-color);
}

.headerModule .title {
    font-size: var(--fs-h5);
    font-weight: var(--fw-medium);
}

.actions {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.actions .item {
    width: 100%;
    padding: 5px;
    padding-left: 20px;
    font-size: var(--fs-h6);
    font-weight: var(--fw-regular);
    cursor: pointer;
    transition: var(--transition);
}

.item.on {
    background: var(--bg-hover);
}

.actions .item:hover {
    background: var(--bg-hover);
}



@media screen and (min-width: 767px) {
    .sidebarSettings {
        left: 0;
    }

    .arrowToggleSettings {
        display: none;
    }
}