.itemSettings {
    width: 100%;
}

.itemSettings .labelSettings {
    width: 100%;
    background: var(--bg-hover);
    padding: 10px;
    border-bottom: var(--border-size) var(--border-color);
}

.itemSettings .labelSettings .title {
    font-size: var(--fs-h6);
    font-weight: var(--fw-semibold);
}

.itemSettings .menuItem {
    width: 100%;
    background: var(--bg);
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.menuItem .option{
    width: 100%;
    padding: 5px;
    padding-left: 20px;
    font-size: var(--fs-h6);
    font-weight: var(--fw-medium);
    background: var(--bg);
    transition: var(--transition);
    cursor: pointer;
}

.menuItem .option:hover{
    background: var(--bg-hover);
}

.activeOption {
    background: var(--bg-hover) !important;
}