.alert {
  position: absolute;
  bottom: -100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-top: var(--border-size) var(--border-color);
  background: var(--bg);
  animation: slideUp 0.3s ease-out forwards;
}

@keyframes slideUp {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

.alert .titleAlert {
  width: 100%;
}

.titleAlert h3 {
  font-size: var(--fs-h6);
  font-weight: var(--fw-medium);
  color: var(--text-primary);
}

.btnsAlert {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

.btnsAlert .btn {
  width: fit-content;
  padding-inline: 10px;
  border-radius: 5px;
}

.btnsAlert .btn h3 {
  font-size: var(--fs-h6);
}

.btn.ok {
  background: var(--color-primary);
}

.btn.cancel {
  background: var(--color-danger);
}

@media screen and (min-width: 767px) {
  .alert {
    right: 0;
    width: calc(100% - var(--aside-width));
  }
}
