@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --toolbar-height: 35px;
  --navbar-height: 60px;
  --aside-width: 245px;

  --bg: #001d2c;
  --bg-hover: #00324b;
  --bg-alpha-modal: rgba(0, 0, 0, 0.5);
  --bg-white: #fff;
  --color-primary: #39a900;
  --c-hover-primary: #277300;
  --color-secondary: #82def0;
  --border-size: 1px solid;
  --border-color: #2c4f55;

  /*fonts*/
  --text-primary: #fff;
  --fs-h1: 30px;
  --fs-h2: 26px;
  --fs-h3: 22px;
  --fs-h4: 18px;
  --fs-h5: 16px;
  --fs-h6: 14px;
  /* ---------- */
  --fw-thin: 100;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  --transition: 0.3s;
}

@media screen and (max-height: 550px) {
  :root {
    /*fonts*/
    --text-primary: #fff;
    --fs-s-h1: 28px;
    --fs-s-h2: 24px;
    --fs-s-h3: 20px;
    --fs-s-h4: 16px;
    --fs-s-h5: 14px;
    --fs-s-h6: 12px;
  }
}

@media screen and (max-width: 360px) {
  :root {
    /*fonts*/
    --text-primary: #fff;
    --fs-s-h1: 30px;
    --fs-s-h2: 26px;
    --fs-s-h3: 22px;
    --fs-s-h4: 18px;
    --fs-s-h5: 16px;
    --fs-s-h6: 14px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  background: var(--bg);
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: var(--text-primary);
}

*::-webkit-scrollbar {
  width: 15px;
  background: var(--bg);
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: var(--border-color);
}

input,
button {
  border: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.icon {
  width: 24px;
  font-size: 24px;
}

.adjust-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adjust-box:first-child {
  justify-content: start;
}

.adjust-box:last-child {
  justify-content: end;
}

/* login =============================================================================*/
.main-login {
  width: 100%;
  height: 100svh;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-login .content {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-rows: 100svh;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "form form";
  justify-content: center;
  align-items: center;
}

.main-login .content::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("/static/images/logoSena-highlight.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.img-login {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.img-login picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.img-login picture img {
  height: auto;
  width: 100%;
}

.main-login form {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: var(--bg);
  margin: 20px;
  padding: 25px;
  border: var(--border-size) var(--border-color);
  border-radius: 5px;
  grid-area: form;
  z-index: 10;
}

.main-login form header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.main-login form header h1 {
  font-size: var(--fs-s-h3);
}

.form-group {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.form-group label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.form-group label h3 {
  font-size: var(--fs-s-h5);
  font-weight: var(--fw-semibold);
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: var(--border-size) var(--border-color);
  border-radius: 5px;
  background-color: var(--bg);
  font-family: "Work Sans", sans-serif;
  color: var(--text-primary);
  caret-color: var(--color-secondary);
  font-size: var(--fs-s-h6);
  font-weight: var(--fw-regular);
}

.main-login section form button {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  font-size: var(--fs-s-h5);
  font-weight: var(--fw-semibold);
  color: var(--text-primary);
  background: var(--color-primary);
  cursor: pointer;
  transition: var(--transition);
}

.main-login section form button:hover {
  background: var(--c-hover-primary);
}

@media screen and (min-width: 567px) {
  .main-login form {
    margin-inline: 100px;
  }
}

@media screen and (min-width: 1024px) {
  .main-login .content {
    grid-template-areas: "img form";
  }

  .main-login .content::before {
    content: initial;
  }

  .img-login {
    position: relative;
    display: flex;
    grid-area: img;
  }

  .img-login::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    content: "";
    width: 50%;
    height: 70%;
    min-height: 420px;
    max-height: 1000px;
    background: var(--bg-white);
    opacity: 0.1;
    border-top-right-radius: 100% 50%;
    border-bottom-right-radius: 100% 50%;
    z-index: 5;
  }

  .img-login picture img {
    width: 70%;
    z-index: 10;
  }

  .main-login form {
    margin-inline: 25px;
  }
}

@media screen and (min-width: 1366px) {
  .main-login {
    width: 1024px;
    margin: 0 auto;
  }

  .img-login::before {
    border-top-left-radius: 100% 50%;
    border-bottom-left-radius: 100% 50%;
  }
}

/* cameras =============================================================================*/
.main-cameras {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100svh;
}