.formAddCamera {
    width: 100%;
    max-width: 1024px;
    height: auto;
    margin: 0 auto;
    padding-block: 15px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.btnAddCam {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: var(--fs-h5);
    font-weight: var(--fw-semibold);
    color: var(--text-primary);
    background: var(--color-primary);
    cursor: pointer;
    transition: var(--transition);
}

.btnAddCam:hover {
    background: var(--c-hover-primary);
}

.form-group select{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: var(--bg);
    border: var(--border-size) var(--border-color);
    color: var(--text-primary);
    font-size: var(--fs-h6);
    font-weight: var(--fw-regular);
}

.validateIp {
    width: 100%;
    display: flex;
    gap: 5px;
}

.validateIp .btnVerifyCamera {
    padding: 10px;
    background: var(--color-primary);
    font-size: var(--fs-h6);
    font-weight: var(--fw-semibold);
    color: var(--text-primary);
    border-radius: 5px;
    transition: var(--transition);
    cursor: pointer;
}

.btnVerifyCamera:hover {
    background: var(--c-hover-primary);
}

.statusCam {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border: var(--border-size) var(--border-color);
    border-radius: 5px;
}

.statusCam .status {
    width: 20px;
    padding: 5px;
    border-radius: 5px;
}

.statusCam .status.on {
    background: var(--status-cam-on);
}
.statusCam .status.off {
    background: var(--status-cam-off);
}

.statusCam .statusText {
    font-size: var(--fs-h6);
    font-weight: var(--fw-regular);
}

@media screen and (min-width: 767px) {
    .formAddCamera {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .btnAddCam {
        grid-column: span 2;
    }
}

