.cam {
  position: relative;
  flex: 1 1 calc(100% - 2px);
  max-width: calc(100% - 2px);
  border: var(--border-size) var(--border-color);
}

.cam:hover .action-cameras {
  opacity: 1;
}

.action-cameras {
  opacity: 0;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: var(--transition);
}

.reload-cam {
  padding: 5px;
  background: var(--color-primary);
  border-radius: 5px;
  cursor: pointer;
}

.reload-cam:hover {
  background: var(--c-hover-primary);
}

.player-cam {
  padding: 5px;
  background: var(--color-primary);
  border-radius: 5px;
  cursor: pointer;
}

.player-cam:hover {
  background: var(--c-hover-primary);
}

.cam > img {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 600px) {
  .cam {
    flex: 1 1 calc(50% - 2px); /* Dos cámaras por fila en pantallas medianas */
    max-width: calc(50% - 2px);
  }
}

@media (min-width: 900px) {
  .cam {
    flex: 1 1 calc(33.33% - 2px); /* Tres cámaras por fila en pantallas más grandes */
    max-width: calc(33.33% - 2px);
  }
}

@media (min-width: 1200px) {
  .cam {
    flex: 1 1 calc(25% - 2px); /* Cuatro cámaras por fila en pantallas muy grandes */
    max-width: calc(25% - 2px);
  }
}

.error-cam {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.error-cam p {
  font-size: var(--fs-h6);
  font-weight: var(--fw-medium);
  color: var(--text-primary);
}

.btnReloadCam {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: var(--color-primary);
  padding: 10px;
  border-radius: 5px;
  font-size: var(--fs-h6);
  font-weight: var(--fw-medium);
  color: var(--text-primary);
  transition: var(--transition);
  cursor: pointer;
}

.btnReloadCam:hover {
  background: var(--c-hover-primary);
}